.background {
    display: grid;
    grid-template-columns: 4fr 6fr;
    width: 1440px;
    height: 750px;
    background: #F7F7F7;
    border-radius: 16px;
    margin-left: 20px;
}


.leftLogo {
    grid-column: 1;
}

.banner {
    width: auto;
    height: 750px;
    grid-column: 2;
    background: rgb(237, 232, 232);
    border-radius: 0px 16px 16px 0px;
    overflow: hidden;
}

.banner-img2 {
    margin-top: 60px;
    width: 605px;
    height: 614.06px;
    margin-left: 100px;
}

.banner-text1 {
    position: absolute;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    color: #FF7506;
    margin-top: 350px;
    margin-left: 470px;


}

.banner-text2 {
    position: absolute;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 54px;
   
    color: #FF7506;
    margin-top: 400px;
    margin-left: 470px;

}

.logo-location {
    margin-top: 80px;
    margin-left: 180px;


}

.inputname-location {
    margin-top: 20px;
    margin-left: 70px;
    width: 400px;
    height: 75px;


}

.inputpass-location {
    margin-top: 20px;
    margin-left: 70px;
    width: 400px;
    height: 75px;
}

.forgot-pass {
    margin-left: 55px;
}

.button-login {
    margin-top: 40px;
    margin-left: 170px;
    width: 162px;
    height: 40px;
}