.ant-table-thead th {
    background-color: #FF9138 !important;
    color: white !important;
  }
  .ant-table-thead td {
    background-color: #FF9138 !important;
    
  }
  .dich-vu .xem-them {
    color: rgb(49, 49, 234);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .dich-vu .xem-them:hover {
    text-decoration: none;
  }
  
  .dich-vu a {
    margin-left: 10px;
  }
  